.action-container {

  .actions {

  }
}


.action-button {
  margin: 10px 0;

  button {
    width: 50%;
    border-color: $button-border;
    background: $button-back;
  }
}

.vex-content {
  background: $folder-background !important;
  color: $system-offwhite !important;

  .vex-dialog-button-secondary {
    background: $app-background !important;
    color: $system-offwhite !important;
    box-shadow: inset 0 3px #333 !important;
  }
}