.action-container,
.navigator-container {
  width: $app-width / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  text-align: center;
  height: 100%;
}