.folder-list {
  @include justify-content(column);
  @include align-content(flex-end);
  @include align-items(flex-end);
  margin: 15px;
  background-color: white;
}

.folder-list {
  border-radius: 5px;
  border: 2px solid gray;

  .folders {
    list-style: none;
    padding: 25px;

    .buttons {
      text-align: right;
    }

    .folder {
      text-align: left;
    }
  }
}