.folder-list {
  margin: 15px;
  background-color: $folder-background;
}

.folder-list {
  border-radius: 5px;
  border: 2px solid lighten($folder-background, 10%);
  height: 100%;
  margin: 0 $padding-lg * 2 $padding * 3;

  .folders {
    list-style: none;
    padding: $padding;

    .buttons {
      text-align: right;
    }

    .folder {
      text-align: left;
    }
  }
}

.folder-name {
  margin: $padding-sm 0;

  &.selected {
    background: $selected-back;
  }
}