

$titlebar-height: 50px;

$app-height: 500px;
$app-width: 600px;

$system-offwhite: #e3e3e3;

$font-base: 14px;
$padding: 10px;
$padding-sm: $padding / 2;
$padding-lg: $padding * 2;
$padding-xlg: $padding-lg * 2;

// THEME

$title-color: hsl(207, 69%, 72%);

$app-background: hsl(0, 2%, 23%);
$folder-background: #494444;

$button-back: hsl(0, 2%, 25%);
$button-border: #272727;
$selected-back: #4484d8;
